<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span6">
    <section>
    	<div class="info">
	      <h1>
	        <%= gravatar_for @user %>
	        <%= @user.name %>
	      </h1>
	      <h2>
	      	<%= @user.title %>
	      	<br/>
	      	<%= @user.dept %>
	      </h2>
	    </div>      
    </section>
    <%= link_to "Edit", edit_user_path(@user) if @user == current_user %>
  </aside>
</div>

<div class="projects">
	<h1>What I'm working on:</h1>
	<%= @user.projects %>	
</div>
<%= link_to "Edit", edit_user_path(@user) if @user == current_user %>