<%= @profile %><br/>
<h1>First Connection</h1><%= "#{@connection1.first_name}" + " #{@connection1.last_name}" %><br/>
<h1>Last Title</h1><%= @last_title %>
<h1>Last Company</h1><%= @last_company %>
<h1>Companies</h1><%= @companies %>